<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/chatapp.css" />
    <!-- script for fontawesome.js-->
    <script src="https://kit.fontawesome.com/2f53a9689d.js"></script>
</head>

<body>
    {{{body}}}

    <!-- script witout animation and effects-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    {{!-- must includ for socket to work --}}
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/chatapp.js"></script>
</body>

</html>