{{#each data}}
<h3>{{data}}</h3>
{{/each}}
<main>
  <div class="container">
    <section id="main-header-section" class="primary-color">
      <div id="chatapp-title">
        <i class="fas fa-comments "></i>
        <span>Chatapp</span>
      </div>
    </section>

    <!-- chat users-->
    <section id="user-list-section">
      <ul id="user-list">
        {{#if data}}
        {{#each data}}
        <a class="user-list-item" id={{this._id}}>
          <img src="../images/avatar1.PNG" alt="Avatar" class="avatar" />
          <div class="user-item-text">
            <h3 class="user-title">{{this.name}}</h3>
            <p>sample message</p>
            <span class="chat-time">11:00 AM </span>
          </div>
          <div class="icon-right">
            <i class="fas fa-angle-right"></i>
          </div>
        </a>
        {{/each}}
        {{else}}
        <h3>No User Found!</h3>
        {{/if}}

      </ul>
    </section>
    <!-- user list-->

    <!-- settings menu -->

    <section id="footer-section" class="settings-section">
      <div class="footer-menubar">
        <button class="button-link primary-color" id="setings-button">
          <i class="fas fa-cog "></i>
        </button>
        <button class="button-link primary-color" id="setings-button">
          <i class="fas fa-user-friends "></i>
        </button>
        <button class="button-link primary-color" id="setings-button">
          <i class="fas fa-comment-alt "></i>
        </button>
      </div>
    </section>
    <!-- new chat section -->
  </div>
</main>