 <main>
      <div class="container">
        <!-- login section-->
        <section id="logo-section">
          <i class="fas fa-comments"></i>
        </section>
        <section id="form-section">
          <div class="login-class">
            <label for="" class="login-label" id="name-label">Enter Your Name:</label>
            <input type="text" name="user-name" id="user-name" />
            <label for="" class="login-label">Enter Your Email address:</label>
            <input type="email" name="user-email" id="user-email" />
            <label for="" class="login-label">Enter Your Password:</label>
            <input type="password" name="user-password" id="user-password" />
            <button type="button" id="login-button">Login</button>
            <label id="or-label">OR</label>
            <button type="button" id="register-button">Register</button>
            <button type="button" id="create-account-button">Create Account</button>
          </div>
        </section>
        <!-- user list-->
      </div>
    </main>