@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");

/*Gobal style*/
body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
  background: #f4f4f4;
}
main {
  max-width: 48rem; /*tablet size*/
  margin: 1.2rem auto;
  box-shadow: 5px 10px 18px #888888;
}
ul {
  list-style: none;
  padding: 0;
}
li > a {
  text-decoration: none;
}

/*chatapp header section*/
#chatapp-section {
  background: #d4d4d4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 1.2rem;
}
#chatapp-section h2 {
  font-size: 1.7rem;
}
#chatapp-section h2 i {
  font-size: 2rem;
}
.container {
  padding: 1.2rem;
}

/*font icons */
i {
  font-size: 1.5rem;
  line-height: 1;
  vertical-align: text-top;
  margin-top: -2px;
}
/* Color Classes*/
.primary {
  color: #006de4;
}
.success {
  color: #35e400;
}
.danger {
  color: #e4003b;
}
.warning {
  color: #e4e300;
}
.primary-color {
  color: #5b2c6f;
}
.default {
  color: #525252;
}
.light {
  color: #f4f4f4;
}
/* chat input section style */
.new-chat-box {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }
.chat-input {
  border-radius: 1.6rem;
  border: 0.1rem solid #848484;
  padding: 0.3rem;
  font-size: 1rem;
  flex: 15;
  font-family: "Roboto Condensed", sans-serif;
}
.chat-input:focus {
  outline: none;
}
.new-chat-box button {
  flex: 1;
  cursor: pointer;
}
/* chat input section ends */

#chat-history {
  min-height: 60vh;
}
.chat-list-item {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 10px 0;
  margin-top: 10px;
  display: flex;
  color: #5b2c6f;
  justify-content: flex-start;
}
.sender-chat{
flex-direction: row-reverse;
background: #A569BD;
color:#fff; 
}
.receiver-chat{
    flex-direction: row;
    background: #1ABC9C;
    color:#fff;

}
.chat-list-item img {
  max-width: 3.75rem;
  max-height: 3.75rem;
  width: 100%;
  border-radius: 50%;
  border: 1px solid #525252;
  margin:0 1rem;
}
.chat-list-item .chat-item-text{
    padding: 0 0.5rem;
    /* flex:1; */
}
.chat-list-item .chat-item-text p{
    margin-top:0;
}
.chat-time{
    float:right;
}
/* Style the right image */
.chat-list-item img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}


.alert span {
  padding: 0 0.5rem;
}
.alert-success {
  background: #27ae60;
  color: #f4f4f4;
}
.alert-warning {
  background: #f4d03f;
  color: #525252;
}
.alert-danger {
  background: #e74c3c;
  color: #f4f4f4;
}
/** icon buttons*/
.button-link {
  background: none;
  border: none;
}
.button-link:hover {
  font-weight: 600;
}


/*Media Queries*/
@media (max-width: 320px) {
  /*Iphone 5 screen size*/
  .input-label {
    display: none;
  }
  .new-chat-box {
    display: block;
    overflow: hidden;
  }
  .new-chat-box input {
    display: block;
    width: 100%;
  }
  .new-chat-box input[type="text"] {
    margin-bottom: 0.5rem;
  }
  .chat-list-item {
    display: block;
    width: 100%;
  }
  .chat-list-item .action-links {
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
  }
  #chat-list {
    min-height: 50vh;
  }
}
